body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.contenedor {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.imagen{
    width: 100%;
    height: auto;
    display: block;
}